table {
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: center;
}

th,
td {
  border-bottom: 1px solid black;
}

td:not(:last-child) {
  border-right: 1px solid black;
}

tr:last-child td {
  border-bottom: none;
}
